/* Overwrite collapsible.css */
.collapsible-button {
    background-color: #FFF4C2;
    margin-bottom: 1rem;  /* smaller spacing between button and collapsible contents */
}

/* controls the collapsible banner display */
#projects collapsible-section {
    margin-top: 0;
    margin-bottom: 0
}

/* controls heading contents spacing */
#research {
    display: block;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#research-content {
    margin: 0 20px 0 20px;
    list-style-type: inside;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

#research h2, #projects h2 {
    background-color: #FFF4C2;
    color: #7b694e;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.5rem;  /* emphasis on research */
    font-weight: bold;
    margin-bottom: 1rem; /* Adds space below header "Research" */
}


#teaching p,
#teaching li {
    background-color: transparent;
    margin-bottom: 0; /* Space between list items */
    padding: 5px;
}

.teaching-list {
    list-style-type: none;  /* Remove default list styling */
    padding: 0;             /* Remove default padding */
}

.teaching-list li  {
    line-height: 1.6rem;  /* Adds spacing between lines */
    margin-bottom: 1rem;  /* Adds space between list items */
}

.teaching-list .course-code {
    font-weight: bold;  /* Makes the course code bold */
}

.teaching-list .course-name {
    font-style: italic;  /* Optionally, italicize the course name */
}

.teaching-list .institution {
    color: #8F7A5A;      /* Optional: give a subtle color to the institution */
    font-size: 0.9rem;   /* Slightly smaller text for the institution */
}

/** Honours **/
/* Remove any background color and border styling */
.honour-entry {
    padding: 0;
    margin-bottom: 1rem; /* Add spacing between honours */
}

.honour-name {
    font-weight: bold;
}

.honour-sponsor,
.honour-amount,
.honour-description {
    font-size: 0.9rem;
    color: #333; /* Optional: subtle color for secondary information */
    margin: 0.2rem 0;
}

.honour-sponsor::before,
.honour-amount::before,
.honour-description::before {
    content: ""; /* Clear any bullet points */
}

#honours-list {
    list-style-type: none; /* Remove list styling */
    padding: 0; /* Remove any default padding */
}


/* Overall styling */
section {
    margin-top: 1rem  /* controls spacing between banners */
}

section:nth-of-type(1) {
    margin-top: 0  /* no additional spacing before */
}