@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Pen+Script&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    background-color: #F8EDE3;
    min-height: 100vh;
    display: grid;
    align-content: flex-start; /* aligns content to the top */
    gap: 2rem;
    padding: 2rem;
    margin: 1.5rem 2rem;
    font-family: 'Inter', sans-serif;
}

header {
    margin: 0; /* no margin applied to the header */
    padding: 0; /* no padding applied to the header */
    width: 100%; /* header spans full width */
}


h1 {
    text-align: left;
    font-weight: 700;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 5rem;
}

ul {
    list-style-position: inside;
}

ul li {
    line-height: 1.7rem;
    margin-left: 0;
}

ul li li {
    margin-left: 2rem;
}

/** Nav bar **/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9907E;
    max-width: 70%;  /* align with .intro-text */
    margin-top: 2%;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 25px;
    width: auto;
    color: white;
    font-size: 1.2rem;
}

nav > ul > li > a {
    color: white;
}

/** Hyperlinks **/
a {
    background-color: transparent;
    color: #006BC8;
    text-decoration: none;
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/** Photo **/
.profile-photo {
    position: relative;
}

.profile-photo img {
    position: absolute;
    top: -13rem;
    right: 0;
}

/** Homepage intro **/
.intro-text {
    width: 70%;
    left: 0
}

/** Sections **/
section {
    margin-top: 2rem;
}

#projects {
    margin-top: 1rem; /* smaller margin for first section */
}

h2 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.7rem; /* paragraphs line spacing */
}

/** Footer **/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}